MARANGATU_USER=
MARANGATU_PASSWORD=
MARANGATU_HEADLESS=false
MARANGATU_SUBMIT=false
MARANGATU_ARTIFACTS_DIR=artifacts
MARANGATU_PRESENTACIONES_DIR=presentaciones
MARANGATU_SLOWMO_MS=120
MARANGATU_EXPECTED_NAME=
MARANGATU_F241_GESTION_URL=
MARANGATU_TELEGRAM_TOKEN=
MARANGATU_TELEGRAM_CHAT_ID=
